<div class="container-fluid content-wrapper">
  <!-- bg -->
  <div>
    <img src="../../../assets/background.svg" class="img-fluid bg-pattern" alt="pattern">
  </div>

  <!-- row 1 -->
  <div class="row p-3">
    <div class="col-xs-12">
      <div class="d-flex flex-row justify-content-between">
        <div class="logo">
          <img src="../../../assets/logo.svg" alt="logo" class="img-fluid brand-logo me-1">
          <span class="brand-name">Organic qualitative analysis</span>
        </div>

        <span>
          <button class="btn btn-one py-2 px-3" routerLink="/login">Get started</button>
        </span>
      </div>
    </div>
  </div>

  <!-- row 2 -->
  <div class="row mt-3">
    <div class="col-xs-12 text-center">
      <span class="word-1 me-2">Experience</span> <span class="word-2">chemistry</span> <br> <span class="word-3">light weighted</span>
    </div>
  </div>

  <!-- row 3 -->
  <div class="row">
    <div class="col-xs-12">
      <div class="d-flex flex-row justify-content-evenly">
        <span><img src="../../../assets/card 1.svg" alt="card 1" class="img-fluid card-1"></span>
        <span class="img-container"><img src="../../../assets/card-2.png" alt="card 2" class="img-fluid card-2"><span><img src="../../../assets/arc.svg" alt="arc" class="img-fluid arc"></span></span>
        <span><img src="../../../assets/card 3.svg" alt="card 3" class="img-fluid card-3"></span>
      </div>
    </div>
  </div>


</div>







<!-- <mat-icon fontSet="material-icons-outlined" class="me-2">science</mat-icon>
<button  routerLink="/login" class="btn btn-cstm px-5 py-2">
  Get in
</button> -->
