*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation-container{
  height: 300px !important;
  width: 300px !important;

}

.bromination-wrapper{
  border: 1px solid rgb(0, 0, 66);
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.027);
  -webkit-box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.027);
  -moz-box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.027);
}

.answer-wrapper{
  width: 80%;
}

.ansCard{
  border: none;
  margin-top: 30px;
}

.btn-cstm{
  background-color: rgb(0, 0, 56);
  color: #fff;
}

.btn-cstm:hover{
  background-color: transparent;
  border: 1px solid rgb(0, 0, 56);
  color: rgb(0, 0, 56);
  /* font-weight: 500; */
}

