*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  cursor: pointer;
}

.content-wrapper{
position: relative;
}

.bg-pattern{
height: 100vh;
position: absolute;
right: 0;
top: 0;
z-index: -1;
}

.logo{
display: flex;
flex-direction: row;
align-items: center;
color: #1F0C3E;
}

.brand-logo{
height: 24px;
}

.brand-name{
font-size: 18px;
font-weight: 500;
}

.btn-one{
background-color: #1F0C3E;
color: white;
font-size: 12px;
}

.content-crd{
  border: transparent;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #E2E6F2;
}

.para-content{
  color: #1F0C3E;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}

.signin-image{
  height: 200px;
  width: auto;
  transition: 500ms all;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  -ms-transition: 500ms all;
  -o-transition: 500ms all;
}

.signin-image:hover{
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.07);
}
