<div class="container-fluid" *ngIf="user$ | async as user; else loading">
    <div class="row mx-3">
        <div class="col-xs-12 heading">
            <mat-icon fontSet="material-icons-outlined" class="me-2">science</mat-icon>
                <span class="title">VIRTUAL LAB-ORGANIC QUALITATIVE ANALYSIS</span>

                <span class="ms-auto mt-2">
                    <img [src]="user.photoURL" class="img img-fluid" style="width: 40px; height: 40px; border-radius: 50%;" [alt]="user.displayName" placement="left" ngbTooltip="{{user.email}}" tooltipClass="my-custom-class">
                </span>
        </div>
    </div>

    <div class="row mx-3 mt-3 name-wrapper">
        <div class="col-xs-12">
            <h1 class="name">
                Welcome, {{user.displayName}}
            </h1>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <app-droper></app-droper>
        </div>
    </div> -->
                            
                        
                            <!-- <p>{{user.displayName}}</p> -->
                        
                            
                        
                            <!-- <button class="btn btn-dark" (click)="logout()">Logut</button> -->
</div> 









<ng-template #loading>
    <h1>Loading.....</h1>
</ng-template>
<ng-container *ngIf="logout$ | async"></ng-container>